@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Didact+Gothic&family=Mulish:wght@200&Raleway:wght");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    70deg,
    hsl(0deg 0% 100%) 0%,
    hsl(199deg 49% 99%) 11%,
    hsl(199deg 50% 97%) 22%,
    hsl(199deg 50% 96%) 33%,
    hsl(198deg 50% 94%) 44%,
    hsl(198deg 51% 93%) 56%,
    hsl(198deg 51% 91%) 67%,
    hsl(198deg 51% 89%) 78%,
    hsl(198deg 52% 88%) 89%,
    hsl(198deg 52% 86%) 100%
  );
  background: "linear-gradient(0deg, hsla(216, 41%, 79%, 1) 0%, hsla(186, 33%, 94%, 1) 100%)";
}

body::-webkit-scrollbar {
  width: "10px";
}
body::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
